.menu {
	max-width: 1200px;
	display: block;
	background: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	li {
		display: inline;
		a {
			color: black;
			padding: 1% 3%;
			text-transform: uppercase;
			display: inline-block;
		}
	}
}
header .header-container {
	max-width: 100%;
}