// /*PRE*/

// pre {
// 	background: #F7F7F7;
// 	padding: 10px;
// 	border-radius: 4px;
// 	border: 1px solid #ccc;
// }

body {
	font-family: 'Source Sans Pro', sans-serif;
	h1, h2 {
		font-family: 'Sacramento', cursive;
	}
	h1 {
		@include fontSize(50);
	}

	a {
		text-decoration: none;
	}
}

